
/* ---- global styles ---- */
body {
  font-size: 16px;
  font-family: 'Courier New', sans-serif;
  background-color: #000202;
  box-sizing: border-box;
}
a:hover {
  text-decoration: none;
}

.hidden {
  display: none;
}

.center-content {
  padding: 40px 0;
}

#fullpage .section {
  z-index: 1;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.section {
  position: relative;
}

.section.active > .sectionHeader {
  opacity: 1;
  transition: 0.5s ease all;
  transition-delay: 1s;
}

/* ---- header ---- */
.sectionHeader {
  color: #8FDEF6;
  text-align: left;
  position: relative;
  z-index: 12;
  height: 84px;
  position: fixed;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease all;
  z-index: 11;
}
.sectionHeader .sectionTitle {
  position: relative;
  font-size: 22px;
  display: inline-block;
}

/* ---- header ---- */
#mainHeader {
  background-color: #0d1517;
}
#mainHeader #mainLogo {
  margin: 20px 0;
  margin-left: 15px;
  float: left;
  width: 50px;
  height: 50px;
  overflow: hidden;
  padding: 0;
}
#mainHeader #mainLogo img {
  margin-left: -20px;
}
#mainHeader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

#mainHeader #mainNav.fs-menu-active {
  opacity: 1;
  transition: opacity 0.5s ease;
}

#mainHeader #mainNav {
  background-color: #000;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  transition: opacity 0.5s ease;
  -webkit-transition-delay: 900ms;
  -moz-transition-delay: 900ms;
  -o-transition-delay: 900ms;
  transition-delay: 900ms;
}

#mainHeader #mainNav ul {
  margin-left: 0;
}

#mainHeader #mainNav ul li {
  display: block;
  margin: 10px 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms;
}
#mainHeader #mainNav.fs-menu ul li:nth-child(2),
#mainHeader #mainNav.fs-menu-active ul li:nth-child(5) {
  -webkit-transition-delay: 400ms;
  -moz-transition-delay: 400ms;
  -o-transition-delay: 400ms;
  transition-delay: 400ms;
}
#mainHeader #mainNav.fs-menu ul li:nth-child(3),
#mainHeader #mainNav.fs-menu-active ul li:nth-child(4) {
  -webkit-transition-delay: 300ms;
  -moz-transition-delay: 300ms;
  -o-transition-delay: 300ms;
  transition-delay: 300ms;
}
#mainHeader #mainNav.fs-menu ul li:nth-child(4),
#mainHeader #mainNav.fs-menu-active ul li:nth-child(3) {

  -webkit-transition-delay: 200ms;
  -moz-transition-delay: 200ms;
  -o-transition-delay: 200ms;
  transition-delay: 200ms;
}
#mainHeader #mainNav.fs-menu ul li:nth-child(5),
#mainHeader #mainNav.fs-menu-active ul li:nth-child(2) {

  -webkit-transition-delay: 100ms;
  -moz-transition-delay: 100ms;
  -o-transition-delay: 100ms;
  transition-delay: 100ms;
}
#mainHeader #mainNav.fs-menu-active ul li {
  opacity: 1;
  transition: all 0.5s ease;
}

/* ---- navigation ---- */
#mainNav {
  position: relative;
}
#mainNav .center-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
#mainNav ul {
  list-style: none;
  padding-left: 0;
  text-align: center;
}
#mainNav ul li {
  display: inline;
}
#mainNav ul li:not(:last-child) {
  margin-right: 50px;
}
#mainNav ul li a {
  color: #73BBCD;
  text-transform: uppercase;
}
#mainLogo {
  background-color: #0d1517;
  padding: 12px 8px;
  display: block;
}
#mainLogo img {
  max-width: 90px;
}

/* ---- mobile nav toggle---- */
#menu-toggle {
  float: right;
  width: 45px;
  height: 45px;
  margin: 20px 0;
  margin-right: 15px;
  position: relative;
  position: relative;
  cursor: pointer;
  border: 4px solid #73bbcd;
  background-color: #0d1517;
  z-index: 10;
  box-sizing: border-box;
}
#menu-toggle * {
  transition: .25s ease-in-out;
  box-sizing: border-box;
}
#menu-toggle span {
  display: block;
  background: #73bbcd;
}
#menu-toggle #hamburger {
  position: absolute;
  height: 100%;
  width: 100%;
}
#menu-toggle #hamburger span {
  width: 25px;
  height: 4px;
  position: relative;
  top: 5px;
  left: 6px;
  margin: 4px 0;
}
#menu-toggle #hamburger span:nth-child(1) {
  transition-delay: .5s;
}
#menu-toggle #hamburger span:nth-child(2) {
  transition-delay: .625s;
}
#menu-toggle #hamburger span:nth-child(3) {
  transition-delay: .75s;
}
#menu-toggle #cross {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
}
#menu-toggle #cross span:nth-child(1) {
  height: 0%;
  width: 4px;
  position: absolute;
  top: 11%;
  left: 17px;
  transition-delay: 0s;
}
#menu-toggle #cross span:nth-child(2) {
  width: 0%;
  height: 4px;
  position: absolute;
  left: 10%;
  top: 17px;
  transition-delay: .25s;
}

#menu-toggle.open #hamburger span {
  width: 0%;
}
#menu-toggle.open #hamburger span:nth-child(1) {
  transition-delay: 0s;
}
#menu-toggle.open #hamburger span:nth-child(2) {
  transition-delay: .125s;
}
#menu-toggle.open #hamburger span:nth-child(3) {
  transition-delay: .25s;
}
#menu-toggle.open #cross span:nth-child(1) {
  height: 80%;
  transition-delay: .625s;
}
#menu-toggle.open #cross span:nth-child(2) {
  width: 80%;
  transition-delay: .375s;
}

.home #particles-js {
  z-index: 10;
}
/*#particles-js,
#canvas-particles {
  position: absolute;
}*/
#canvas-particles {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}
.home .sectionHeader {
  display: none;
}
.pillars .img-block {
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
}
.pillars img {
  display: block;
  margin: 0 auto;
  height: 100%;
}
.pillars .center-content > div{
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 3s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}
.pillars.active .center-content > div:first-child {
	animation-delay: 200ms;
}
.pillars.active .center-content > div:nth-child(2) {
	animation-delay: 500ms;
}
.pillars.active .center-content > div:nth-child(3) {
	animation-delay: 400ms;
}
.pillars .va-slice:not(:last-child) {
  margin-bottom: 50px;
}
.pillars .pillars-text {
  position: relative;
  top: -30px;
}

.services ul {
  list-style: none;
  padding: 40px 0;
  position: relative;
}
.services li {
  background-color: #1A1A1A;
  font-size: 16px;
  padding: 30px 15px 30px 70px;
  position: relative;
  color: #73BBCD;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  cursor: pointer;
  overflow: hidden;
}
.services li.hover .flip {
  -webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.services li .flip {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;

  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}
.services .front,
.services .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}
.services .back {
  -webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.services li,
.services .front,
.services .back {
	width: 100%;
	height: 115px;
}
.services li:before {
  content: attr(data-count);
  color: #212a2c;
  font-size: 28px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 86px;
  line-height: 60px;
}

.services li:not(:last-child) {
  margin-bottom: 20px;
}

#mynetwork {
  width: 100%;
  height: calc(100% - 84px);
  position: absolute;
}
#mynetwork * {
  outline: 0;
}

/* ---- modal animation ---- */

/* out animation */
.modal .modal-content {
  transform: scaleY(0.01);
  width: 0;
  overflow: hidden;
  background-color: #8FDEF6;
  transition: width 0.5s ease 1s, transform 1s ease;
}
.modal .modal-content > * {
  opacity: 0;
}

/* in animation */
.modal.in .modal-content {
  transform: scaleY(1);
  width: 100%;
  max-width: 600px;
  margin: 0;
  background-color: #000;
  transition: width 0.5s ease, background-color 0.5s ease 0.5s, transform 1s ease 0.5s;
}
.modal.in .modal-content > * {
  opacity: 1;
  transition: opacity 1s ease 1.4s;
}

/* ---- modal styles ---- */
.modal-open {
  padding-right: 0px!important;
}
.team-modal.modal .modal-dialog {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0,-50%);
}
.team-modal .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #73BBCD;
  text-shadow: none;
  opacity: 1;
}
.team-modal .modal-body {
  padding: 0;
}
.team-modal .modal-content {
  border: 1px solid #8FDEF6;
  border-radius: 0;
  color: #8FDEF6;
  /*top: 50%;
  transform: translateY(-50%);*/
}
.team-modal .team-header {
  background-color: #0d1517;
}
.team-modal .team-description,
.team-modal .team-header {
  padding: 20px 40px;
}
.team-modal .modal-content img {
  margin: 0 auto;
}
.team-modal .team-description ul {
  list-style: none;
  padding: 0;
  margin: 15px 0;
  display: block;
}
.team-modal .team-description ul li {
  display: inline-block;
}
.team-modal .team-description ul li:not(last-child) {
  margin-right: 10px;
}
.team-modal .team-description ul li a {
  font-size: 18px;
  color: #8FDEF6;
}



/* ---- particles container ---- */

#particles-js,
#particles-js-2 {
  width: 100%;
  height: 100%;
  background-color: #000;
  /*background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;*/
}


/* Vertical Accordion Style */
#va-accordion {
  margin: 0;
  width: 100%;
  height: calc(100% - 84px);
}
.va-container{
	position:relative;
	margin:40px auto 0 auto;
	color:#8FDEF6;
}
.va-wrapper{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
	background:#000;
}
.va-slice{
  position: relative;
  text-align: left;
}
.wide-center {
  max-width: 300px;
  margin: 0 auto;
}
.va-title{
	font-size:16px;
  display: inline-block;
}
.va-content {
  margin-top: 15px;
  font-size: 12px;
  color: #a4a8a8;
}
